.input {
  flex: 1;
  max-width: 240px;
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid var(--color-surface);
  border-radius: 10px;
  background-color: var(--color-surface);
  outline: none;
  color: var(--color-text);
  transition: all 0.3s ease-in-out;

  &:hover,
  &:focus {
    border-color: var(--color-text-muted);
  }
}
