.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 15px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.listItem {
  background-color: var(--color-surface);
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 180px;
}

.title {
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 8px 0;
  color: var(--color-text);
}

.content {
  margin: 0;
  flex-grow: 1;
  font-size: 14px;
  color: #495057;
  margin-bottom: 12px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.button {
  align-self: flex-end;
  padding: 6px 12px;
  font-size: 14px;
  color: #fff;
  background-color: #434343;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: rgb(139, 55, 40);
    transform: translateY(-3px);
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.tag {
  display: inline-block;
  padding: 6px 10px;
  font-size: 12px;
  color: #000;
  background-color: #c0c522;
  border-radius: 10px;
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.link {
  align-self: flex-end;
  padding: 6px 12px;
  font-size: 14px;
  color: #fff;
  background-color: #434343; 
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: #0a3e8b;
    transform: translateY(-3px);
  }
}
